body a, #nav ul li a {transition: all 0.3s;}
#nav ul li a:hover {color: #fff;}


/* usersgalery */
ul#userblockid {display: flex;flex-wrap: wrap;list-style: none;padding: 40px 0 0 0;}
ul#userblockid>li {flex-basis: 25%;padding: 5px;}

/* left block */
div#header>.top {padding-top: 60px;}

div#userblock .useravatar img {margin: 0 auto 5px;}
.rating-container.rating-sm.rating-animate.rating-disabled {font-size: 1em;}
i.glyphicon.glyphicon-star {color: #ffb62d;text-shadow: none;}
.rating-container .empty-stars {color: rgba(150, 150, 150, 0.2196078431372549) !important;}

.con.tainer {padding: 60px;max-width: 1400px;}
.rating-container .rating-input {font-size: 0 !important;}
span.urate {font-size: 12px;line-height: 1em;display: block;}

/* user block */
div#header ul {float: left; margin: 25px 0; width: 100%; border-top: 1px solid #4e4e4e;padding-top: 20px;font-size: 14pt;}
.userbalance h3 {margin: 0;}
.userbalance {font-size: 0.8em;}
.username {font-weight: bold;color: #ffb62d;display: block;}
.row_boot {padding-top: 20px;}
a.cablinck {color: #cacaca;font-size: 0.8em;background: #42484c;padding: 0.1em 0.6em;margin: 5px 0;display: inline-block;}
a.cablinck:hover, div#userblock span.authuser>a:hover {background: #33373a;text-decoration: none;}
.usermenu {text-align: left;}

div#userblock span.authuser>a {color: #ccc;background: #42484c;padding: 10px 15px;}

/* slider */
.owl-carousel.owlslide {position: relative;}
.owlslide .owl-nav, .owl-nav {height: 0;}
.owlslide .owl-nav button>span {background: #000;padding: 30px 15px;display: block;opacity: 0.3;position: absolute;top: 0;bottom: 0;font-size: 0;transition: 0.7s;}
.owlslide:hover .owl-nav button>span, .owl-carousel:hover .owl-nav button>span {opacity: 0.7;}
.owl-nav button>span {padding: 30px 15px;display: block;opacity: 0.2;position: absolute;top: 0;bottom: 0;font-size: 0;transition: 0.7s;}

.owlslide .owl-nav button.owl-prev>span, .owl-nav button.owl-prev>span {left: 0;background: url(images/prev.png) no-repeat center;}
.owlslide .owl-nav button.owl-next>span, .owl-nav button.owl-next>span {right: 0;background: url(images/next.png) no-repeat center;}
.owlslide .owl-dots {position: absolute;top: 100%;left: 0;right: 0;text-align: center;}
.owlslide .owl-dots>button.owl-dot {display: inline-block;background: #ccc;height: 5px; width: 15px;margin: 0 2px;}
.owlslide .owl-dots>button.owl-dot.active {background: #212528;}
.rowline {display: block;float: left;width: 100%;margin-bottom: 20px;}

 .owl-dots {position: absolute;top: 100%;left: 0;right: 0;text-align: center;}
 .owl-dots>button.owl-dot {display: inline-block;background: #ccc;height: 5px; width: 15px;margin: 0 2px;}
 .owl-dots>button.owl-dot.active {background: #212528;}

div#cataloggreedwrapp .owl-dots button.owl-dot span, div#cataloggreedwrapp .owl-dots button.owl-dot, div#cataloggreedwrapp .owl-dots {line-height: 0;bottom: 0;top: auto;}
div#cataloggreedwrapp .owl-dots>button.owl-dot {display: inline-block;background: rgba(255, 255, 255, 0.4);height: 5px;width: 10px;margin: 0 2px;}
div#cataloggreedwrapp .owl-dots>button.owl-dot.active {background: #337ab7 !important;opacity: 0.8;}

.file_price {font-weight: bold;color: #2d4254;}
.file_size {padding-top: 4px;font-size: 14px;color: #ccc;}

/* view */
div.raitcount {font-size: 12px;padding: 0 10px;line-height: 1;color: #ccc;}
ul#paramsproject {list-style: none;padding: 25px 0;}
li.authorblock {background: #f7f7f7;padding: 5px 10px;border: 1px solid #e8e8e8;}




